<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>Creative - Start Bootstrap Theme</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='landing/assets/favicon.ico') }}"/>
    <!-- Bootstrap Icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet"/>
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic"
          rel="stylesheet" type="text/css"/>
    <!-- SimpleLightbox plugin CSS-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.css" rel="stylesheet"/>
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="{{ url_for('static', filename='landing/css/styles.css') }}" rel="stylesheet"/>
</head>
<body id="page-top">
<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav">
    <div class="container px-4 px-lg-5">
        <a class="navbar-brand" href="#page-top">Renown Foundation</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
                aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ms-auto my-2 my-lg-0">
                <li class="nav-item"><a class="nav-link" href="#about">About</a></li>
                <li class="nav-item"><a class="nav-link" href="#services">Services</a></li>
                <li class="nav-item"><a class="nav-link" href="#contact">Contact</a></li>

                <li class="nav-item"><a class="nav-link" href="#contact"></a></li>
                <li class="nav-item"><a class="nav-link" href="{{ url_for('login_view') }}"><button class="btn btn-primary" type="button">Login</button></a></li>
            </ul>
        </div>
    </div>
</nav>
<!-- Masthead-->
<header class="masthead">
    <div class="container px-4 px-lg-5 h-100">
        <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
            <div class="col-lg-8 align-self-end">
                <h1 class="text-white font-weight-bold">Renown Foundation</h1>
                <hr class="divider"/>
            </div>
            <div class="col-lg-8 align-self-baseline">
                <p class="text-white-75 mb-5">For a better future, we start with loving those around us and working
                    together as a society</p>
                <a class="btn btn-primary btn-xl" href="#about">Read More</a>
            </div>
        </div>
    </div>
</header>
<!-- About-->
<section class="page-section bg-primary" id="about">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-lg-8 text-center">
                <h2 class="text-white mt-0">We have got you covered.</h2>
                <hr class="divider divider-light"/>
                <p class="text-white-75 mb-4">Are you looking for a secure home for your needy friends or loved ones, or
                    a home for the elderly? You are in the right place; renown Foundation has got you covered. We are a
                    societal organization, we take in vulnerable people, give them a home and help them to build
                    themselves and prepare young ones for the future.</p>
                <a class="btn btn-light btn-xl" href="#services">Join Now!</a>
            </div>
        </div>
    </div>
</section>
<!-- Services-->
<section class="page-section" id="services">
    <div class="container px-4 px-lg-5">
        <hr class="divider"/>
        <div class="col-lg-12 text-center">
            <p class="text-dark mb-5">We aim at making sure everyone has equal opportunities, take care of the elderly
                they don’t deserve to be left all alone, bring them to us.
                Orphans, street children all are welcome. You a single mother, or a peasant family, bring in your
                children we want to make this society a good one for future generations.
            </p>
        </div>
    </div>
</section>
<!-- Call to action-->
<section class="page-section bg-dark text-white">
    <div class="container px-4 px-lg-5 text-center">
        <h2 class="mb-4">Motto</h2>
        <hr class="divider divider-light"/>
        <p class="text-white-75 mb-4">WE DESERVE EQUAL OPPORTUNITIES.</p>
        <div class="p-3"><p></p></div>
        <h2 class="mb-4">Mission</h2>
        <hr class="divider divider-light"/>
        <p class="text-white-75 mb-4">For a better future, we start with loving those around us and working together as
            a society.</p>

    </div>

</section>
<!-- Contact-->
<section class="page-section" id="contact">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-lg-8 col-xl-6 text-center">
                <h2 class="mt-0">Let's Get In Touch!</h2>
                <hr class="divider"/>
                <p class="text-muted mb-5">Ready to join us? For more information: contact our office and we will get
                    back to you as soon as possible!</p>
            </div>
        </div>

        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-lg-8 text-center mb-5 mb-lg-0">
                <span>PHONE : +254791330910</span>
            </div>
        </div>
        <div class="row mt-2 gx-4 gx-lg-5 justify-content-center">
            <div class="col-lg-8 text-center mb-5 mb-lg-0">
                <span>EMAIL : renownfoundationke@gmail.com</span>
            </div>
        </div>
    </div>
</section>
<!-- Footer-->
<footer class="bg-light py-5">
    <div class="container px-4 px-lg-5">
        <div class="small text-center text-muted">Copyright &copy; 2022 - Renown Foundation</div>
    </div>
</footer>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- SimpleLightbox plugin JS-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.js"></script>
<!-- Core theme JS-->
<script src="{{ url_for('static', filename='landing/js/scripts.js') }}"></script>

<script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
</body>
</html>
