{% extends 'base.html' %}

{% block title %}
  Home
{% endblock %}l %}

{% block page_name %}
Links
{% endblock %}

{% block content %}


    <!-- <div class="col-md-12">
      <form class="navbar-form" method="get">
        <div class="input-group no-border">
          <div class="row">
            <div class="col-md-5">
              <input type="text" name="start_date" class="form-control" placeholder="Start Date">
            </div>
            <div class="col-md-2"></div>
            <div class="col-md-5">
              <input type="text" name="end_date" class="form-control" placeholder="End Date">
            </div>
          </div>
          <button type="submit" class="btn btn-default btn-round btn-just-icon">
            <i class="material-icons">search</i>
            <div class="ripple-container"></div>
          </button>
        </div>
      </form>
    </div> -->


  <div class="col-md-4">
    <div class="card">
      <div class="card-header card-header-primary">
        <h4 class="card-title">Save another link</h4>
        <p class="card-category">Enter here</p>
      </div>
      <div class="card-body">
        <form method="post">
          <div class="form-group">
            <label for="link" class="bmd-label-floating">Whatsapp Link</label>
            <textarea required class="form-control" id="link" name="link"></textarea>
          </div>
          <!-- <div class="form-group">
            <label for="second_name" class="bmd-label-floating">Last Name</label>
            <input type="text" class="form-control" id="second_name" name="second_name">
          </div>
          <div class="form-group">
            <label for="birth_entry_number" class="bmd-label-floating">Birth Entry Number</label>
            <input type="text" class="form-control" id="birth_entry_number" name="birth_entry_number">
          </div>
          <div class="form-group">
            <label for="years" class="bmd-label-floating">Mother Institution ID</label>
            <input type="number" class="form-control" id="years" name="mother_institution_id">
          </div> -->
          <!-- <div class="form-group">
            <label for="msisdn" class="bmd-label-floating">Birth Date</label>
            <input type="text" class="form-control" id="msisdn" name="birth_date">
          </div> -->
          <button type="submit" class="btn btn-primary pull-right">Save Link</button>
          <div class="clearfix"></div>
        </form>
      </div>
    </div>
  </div>
  <div class="col-md-8">
    <div class="card">
      <div class="card-header card-header-primary">
        <h4 class="card-title ">Saved Links</h4>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table">
            <thead class=" text-primary">
            <th>#</th>
            <th>Group Link</th>
            <th>Name</th>
            <th>Active</th>
            <th class="pull-right">Action</th>
            </thead>
            <tbody>
            {% for link in links %}
              <tr>
                <td>{{ link['id'] }}</td>
                <td>{{ link['link'] }}</td>
                <td>{{ link['name'] }}</td>
                <td>{{ link['active'] }}</td>
                <td>
                  <form action="{{ url_for('delete_link') }}" method="post">
                    <input type="hidden" name="id" id="id" value="{{ link['id'] }}">
                    <button type="submit" class="btn btn-sm btn-danger pull-right">Remove</button>
                  </form>
                </td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

{% endblock %}